/*DISPLAY*/
    /*DISPLAY-REGULAR*/
    .android-regular-xL-display {
        font-size: 64px;
        line-height: 88px;
        letter-spacing: 1px;
        font-family: sans-serif;
        margin: 0px;
    }
    .android-regular-L-display {
        font-size: 56px;
        line-height: 72px;
        letter-spacing: 1px;
        font-family: sans-serif;
        margin: 0px;
    }
    
    .android-regular-M-display {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 1px;
        font-family: sans-serif;
        margin: 0px;
    }
    
    .android-regular-S-display {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1px;
        font-family: sans-serif;
        margin: 0px;
    }
    
    .android-regular-xS-display {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        font-family: sans-serif;
        margin: 0px;
    }
    
        /*DISPLAY-BOLD*/
    
    .android-bold-xL-display {
        font-size: 64px;
        line-height: 88px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: sans-serif;
        margin: 0px;
        
    }
    .android-bold-L-display {
        font-size: 56px;
        line-height: 72px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: sans-serif;
        margin: 0px;
        
    }
    .android-bold-M-display {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: sans-serif;
        margin: 0px;
        
    }
    .android-bold-S-display {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: sans-serif;
        margin: 0px;
        
    }
    .android-bold-xS-display {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: sans-serif;
        margin: 0px;
    }
    