@media (max-width: 600px) {
    .android-taskSelects{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        flex-wrap: nowrap;
    }
}