@media (max-width: 600px){
    .android-switch__options-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--color-neutral-4);
    }
    .android-switch__option-container{
        flex: 1;
        height: 100%;
    }
    .android-switch__option-container-active{
        border-bottom:solid var(--color-primary-4) 3px;
        color: var(--color-primary-4);

    }
    .android-switch__option{
        text-align: center;
    }
}