@media (max-width: 600px) {
    .iphone-mainControls__button-add{
        box-sizing: border-box;
        width:25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-neutral-1);
    }
    .iphone-mainControls__button-add:hover{
        cursor: pointer;
    }
}