@media (min-width:601px) {
    .desktop-listTask{
        flex: 0 0 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color-neutral-1);
    }
    .listTask{
        flex: 0 0 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}