.iphone-regular-L-title2{
    font-size: 22px;
    line-height: 22px;  
    letter-spacing: 1px;
    font-weight: 400; 
}
.iphone-regular-M-title2{
    font-size: 21px;
    line-height: 21px;  
    letter-spacing: 1px;
    font-weight: 400;
}
.iphone-regular-S-title2{
    font-size: 20px;
    line-height: 20px;  
    letter-spacing: 1px;
    font-weight: 400;
}
.iphone-regular-xS-title2{
    font-size: 19px;
    line-height: 19px;  
    letter-spacing: 1px;
    font-weight: 400;
}
