.iphone-regular-L-title3{
    font-size: 20px;
    line-height: 20px;  
    letter-spacing: 1px;
    font-weight: 400; 
}
.iphone-regular-M-title3{
    font-size: 19px;
    line-height: 19px;  
    letter-spacing: 1px;
    font-weight: 400;
}
.iphone-regular-S-title3{
    font-size: 18px;
    line-height: 18px;  
    letter-spacing: 1px;
    font-weight: 400;
}
.iphone-regular-xS-title3{
    font-size: 17px;
    line-height: 17px;  
    letter-spacing: 1px;
    font-weight: 400;
}