.iphone-semibold-L-headline{
    font-size: 17px;
    line-height: 17px;  
    letter-spacing: 1px;
    font-weight: 600; 
}
.iphone-semibold-M-headline{
    font-size: 16px;
    line-height: 16px;  
    letter-spacing: 1px;
    font-weight: 600;
}
.iphone-semibold-S-headline{
    font-size: 15px;
    line-height: 15px;  
    letter-spacing: 1px;
    font-weight: 600;
}
.iphone-semibold-xS-headline{
    font-size: 14px;
    line-height: 14px;  
    letter-spacing: 1px;
    font-weight: 600;
}